In [1]:
!pip install pytesseract

Collecting pytesseract
  Using cached pytesseract-0.3.9-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: Pillow>=8.0.0 in c:\users\rahmat\anaconda3\lib\site-packages (from pytesseract) (8.2.0)
Collecting packaging>=21.3
  Using cached packaging-21.3-py3-none-any.whl (40 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\rahmat\anaconda3\lib\site-packages (from packaging>=21.3->pytesseract) (2.4.7)
Installing collected packages: packaging, pytesseract
  Attempting uninstall: packaging
    Found existing installation: packaging 20.9
    Uninstalling packaging-20.9:
      Successfully uninstalled packaging-20.9
Successfully installed packaging-21.3 pytesseract-0.3.9

In [1]:
import pytesseract
import argparse
import cv2
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import csv
import nltk
import re 
from nltk.tokenize import word_tokenize 
from nltk.corpus import wordnet

In [2]:
from PIL import Image

In [3]:
image = cv2.imread("dataset-struk-alfa/struk4.jpg",0 )

In [4]:
pytesseract.pytesseract.tesseract_cmd = "C:\\Users\\Rahmat\\AppData\\Local\\Programs\\Tesseract-OCR\\tesseract.exe"

In [5]:
text = (pytesseract.image_to_string(image)).lower()
print(text)

pt. sumber alfaria trijaya, tbk
benhil 2 / 081510023453

jl mh thahrin nos cikokol
nphp : 01.336, 238. 9-054, 000
jl. bendungan hilir raya tanah aban
bon j532-415-o405x5y3 kasir = kartini

kopiko 78c coffe 1 5,900 5,900

total iten | 5,900
tunai 5,900
kenbal ian 0

536)

tal. 04-05-2015 14:28:32 v.24,03.2015

harga bkp sudah termasuk pajak
www. alfaonl ine, com

kopiko 78 degree dapat mcbil
sms:kopiko?8(spasi )a| fanartikadettktpttkot
kirim ke 0811 870 6789
no. transaksi
j53241501 0405x5y3

In [6]:
match = re.findall(r'\d+[/.-]\d+[/.-]\d+',text)
st= ''
st=st.join(match)
print(st)

04-05-2015

In [7]:
# l = st.split('/')
# add="20"
# if len(l[0])==2:
#     add+=l[0]
#     l[0]=add
# d='/'
# d=d.join(l)
# st = d
# print(st)

In [8]:
nltk.download('punkt',quiet=True)

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [9]:
sent_tokens = nltk.sent_tokenize(text)
print(sent_tokens)

['pt.', 'sumber alfaria trijaya, tbk\nbenhil 2 / 081510023453\n\njl mh thahrin nos cikokol\nnphp : 01.336, 238.', '9-054, 000\njl.', 'bendungan hilir raya tanah aban\nbon j532-415-o405x5y3 kasir = kartini\n\nkopiko 78c coffe 1 5,900 5,900\n\ntotal iten | 5,900\ntunai 5,900\nkenbal ian 0\n\n536)\n\ntal.', '04-05-2015 14:28:32 v.24,03.2015\n\nharga bkp sudah termasuk pajak\nwww.', 'alfaonl ine, com\n\nkopiko 78 degree dapat mcbil\nsms:kopiko?8(spasi )a| fanartikadettktpttkot\nkirim ke 0811 870 6789\nno.', 'transaksi\nj53241501 0405x5y3']

In [10]:
sent_tokens[0:2]

['pt.',
 'sumber alfaria trijaya, tbk\nbenhil 2 / 081510023453\n\njl mh thahrin nos cikokol\nnphp : 01.336, 238.']

In [11]:
" ".join(sent_tokens[0:2])

'pt. sumber alfaria trijaya, tbk\nbenhil 2 / 081510023453\n\njl mh thahrin nos cikokol\nnphp : 01.336, 238.'

In [12]:
for i in " ".join(sent_tokens[0:2]).split('\n'):
    break
head=i
print(head)

pt. sumber alfaria trijaya, tbk

In [13]:
# price = re.findall(r'USD|EUR|€|\$)\s?(\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2}))|(\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2})?)\s?(USD|EUR|€|\$)',text)
# price = list(map(float,price))
# print(max(price))
# x=max(price)

In [126]:
nyari_total=[]
for i in range(len(new_words)):
    if new_words[i]=='iten':
#         nyari_total.append(new_words[i+1])
          break
price=new_words[i+2]
print(price)
x=price
# " ".join(nyari_total)
# # price = re.findall(r'(?<![\d,])((\d{1,2},)*\d{3}|(\d{1,3}))\.\d{2}(?!\d)',nyari_total)
# # st= ''
# # st=st.join(price)
# # print(st)

5,900

In [107]:
a = []
for i in (nyari_total):
    if re.findall(r'(\d+(?:\.\d{1,2})?)',i):
        a.append(i)
a

[]

In [66]:
for i in (nyari_total):
    print(i)

pembelian
diskon
1,018,000

In [49]:
nyari_total

['pembelian', 'diskon', '1,018,000']

In [125]:
new_words = word_tokenize(text)
print(word_tokenize(text))

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'benhil', '2', '/', '081510023453', 'jl', 'mh', 'thahrin', 'nos', 'cikokol', 'nphp', ':', '01.336', ',', '238', '.', '9-054', ',', '000', 'jl', '.', 'bendungan', 'hilir', 'raya', 'tanah', 'aban', 'bon', 'j532-415-o405x5y3', 'kasir', '=', 'kartini', 'kopiko', '78c', 'coffe', '1', '5,900', '5,900', 'total', 'iten', '|', '5,900', 'tunai', '5,900', 'kenbal', 'ian', '0', '536', ')', 'tal', '.', '04-05-2015', '14:28:32', 'v.24,03.2015', 'harga', 'bkp', 'sudah', 'termasuk', 'pajak', 'www', '.', 'alfaonl', 'ine', ',', 'com', 'kopiko', '78', 'degree', 'dapat', 'mcbil', 'sms', ':', 'kopiko', '?', '8', '(', 'spasi', ')', 'a|', 'fanartikadettktpttkot', 'kirim', 'ke', '0811', '870', '6789', 'no', '.', 'transaksi', 'j53241501', '0405x5y3']

In [46]:
tokenizer = nltk.RegexpTokenizer(r'\w+')
new_words = tokenizer.tokenize(text)
print(new_words)

['pt', 'sumber', 'alfaria', 'trijaya', 'tbk', 'cimuja', '4', 'jl', 'hh', 'thamrin', 'no', '9', 'cikokol', 'nphp', '01', '336', '238', '9', '054', '000', 'jl', 'raya', 'sumedang', 'cirebon', 'no', 'kec', 'cihal', 'bon', '8989', '205', '2107hkh3', 'kasir', 'alfa', 'air', 'hnrl', '1', '4', '3', '400', '13', '600', 'shapes', 'chzdbk', '18', '100', '8', '100', 'tsel', 'pulsa', '50k', '1', '51', '000', '51', '000', 'lotal', 'iten', '3', '72', '700', 'nai', '72', '700', 'erbal', 'ian', '0', 'pn', 'ukti', 'transaksi', 'voucher']

In [127]:
nyari_jenis=[]
for i in range(len(new_words)):
    nyari_jenis.append(new_words[i])
    if new_words[i]=='total':
#         nyari_total.append(new_words[i+1])
          break
jenis = nyari_jenis
print(jenis)

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'benhil', '2', '/', '081510023453', 'jl', 'mh', 'thahrin', 'nos', 'cikokol', 'nphp', ':', '01.336', ',', '238', '.', '9-054', ',', '000', 'jl', '.', 'bendungan', 'hilir', 'raya', 'tanah', 'aban', 'bon', 'j532-415-o405x5y3', 'kasir', '=', 'kartini', 'kopiko', '78c', 'coffe', '1', '5,900', '5,900', 'total']

In [128]:
nyari_jenisnharga=[]
for i in range(len(nyari_jenis)):
    nyari_jenisnharga.append(nyari_jenis[i])
    if nyari_jenis[i]=='kasir' :
        break
        
print(nyari_jenisnharga)

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'benhil', '2', '/', '081510023453', 'jl', 'mh', 'thahrin', 'nos', 'cikokol', 'nphp', ':', '01.336', ',', '238', '.', '9-054', ',', '000', 'jl', '.', 'bendungan', 'hilir', 'raya', 'tanah', 'aban', 'bon', 'j532-415-o405x5y3', 'kasir']

In [129]:
tokens = [token for token in nyari_jenis if token not in nyari_jenisnharga]
tokens

['=', 'kartini', 'kopiko', '78c', 'coffe', '1', '5,900', '5,900', 'total']

In [146]:
words = [token for token in tokens if  token not in a]
words = [token for token in words if token.isalnum()]
words

['kartini', 'kopiko', 'coffe', 'total']

In [133]:
a = []
for i in (tokens):
    if re.findall(r'(\d+(?:\.\d{1,2})?)',i):
        a.append(i)
a

['78c', '1', '5,900', '5,900']

---

# dari sini naf

In [14]:
image = cv2.imread("dataset-struk-alfa/struk4.jpg",0 )

In [15]:
pytesseract.pytesseract.tesseract_cmd = "C:\\Users\\Rahmat\\AppData\\Local\\Programs\\Tesseract-OCR\\tesseract.exe"

In [16]:
text = (pytesseract.image_to_string(image)).lower()
print(text)

pt. sumber alfaria trijaya, tbk
benhil 2 / 081510023453

jl mh thahrin nos cikokol
nphp : 01.336, 238. 9-054, 000
jl. bendungan hilir raya tanah aban
bon j532-415-o405x5y3 kasir = kartini

kopiko 78c coffe 1 5,900 5,900

total iten | 5,900
tunai 5,900
kenbal ian 0

536)

tal. 04-05-2015 14:28:32 v.24,03.2015

harga bkp sudah termasuk pajak
www. alfaonl ine, com

kopiko 78 degree dapat mcbil
sms:kopiko?8(spasi )a| fanartikadettktpttkot
kirim ke 0811 870 6789
no. transaksi
j53241501 0405x5y3

In [17]:
match = re.findall(r'\d+[/.-]\d+[/.-]\d+',text)
st= ''
st=st.join(match)
print(st)

04-05-2015

In [18]:
# l = st.split('/')
# add="20"
# if len(l[0])==2:
#     add+=l[0]
#     l[0]=add
# d='/'
# d=d.join(l)
# st = d
# print(st)

In [19]:
nltk.download('punkt',quiet=True)

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [20]:
sent_tokens = nltk.sent_tokenize(text)
print(sent_tokens)

['pt.', 'sumber alfaria trijaya, tbk\nbenhil 2 / 081510023453\n\njl mh thahrin nos cikokol\nnphp : 01.336, 238.', '9-054, 000\njl.', 'bendungan hilir raya tanah aban\nbon j532-415-o405x5y3 kasir = kartini\n\nkopiko 78c coffe 1 5,900 5,900\n\ntotal iten | 5,900\ntunai 5,900\nkenbal ian 0\n\n536)\n\ntal.', '04-05-2015 14:28:32 v.24,03.2015\n\nharga bkp sudah termasuk pajak\nwww.', 'alfaonl ine, com\n\nkopiko 78 degree dapat mcbil\nsms:kopiko?8(spasi )a| fanartikadettktpttkot\nkirim ke 0811 870 6789\nno.', 'transaksi\nj53241501 0405x5y3']

In [21]:
nyari_pakain=[]
for i in sent_tokens:
    if "kasir" in i:
        nyari_pakain.append(i)
nyari_pakain

['bendungan hilir raya tanah aban\nbon j532-415-o405x5y3 kasir = kartini\n\nkopiko 78c coffe 1 5,900 5,900\n\ntotal iten | 5,900\ntunai 5,900\nkenbal ian 0\n\n536)\n\ntal.']

In [22]:
hasil_nyari_pakain=nyari_pakain[0].split("\n")
hasil_nyari_pakain

['bendungan hilir raya tanah aban',
 'bon j532-415-o405x5y3 kasir = kartini',
 '',
 'kopiko 78c coffe 1 5,900 5,900',
 '',
 'total iten | 5,900',
 'tunai 5,900',
 'kenbal ian 0',
 '',
 '536)',
 '',
 'tal.']

In [23]:
# nyari_jenis=[]
# for i in range(len(new_words)):
#     nyari_jenis.append(new_words[i])
#     if new_words[i]=='total':
# #         nyari_total.append(new_words[i+1])
#           break
# jenis = nyari_jenis
# print(jenis)
hasil=[]
for i in range(len(hasil_nyari_pakain)):
    hasil.append(hasil_nyari_pakain[i-1])
    if "total" in hasil_nyari_pakain[i]:
        break
        
hasil

['tal.',
 'bendungan hilir raya tanah aban',
 'bon j532-415-o405x5y3 kasir = kartini',
 '',
 'kopiko 78c coffe 1 5,900 5,900',
 '']

In [24]:
# nyari_jenisnharga=[]
# for i in range(len(nyari_jenis)):
#     nyari_jenisnharga.append(nyari_jenis[i])
#     if nyari_jenis[i]=='kasir' :
#         break
        
# print(nyari_jenisnharga)

kasir=[]
for i in range(len(hasil)):
    kasir.append(hasil[i])
    if "kasir" in hasil[i]:
        
        break
        
kasir
# kasir=[]
# for i in range(len(hasil)):
#     kasir.append(hasil[i])
#     if hasil[i]=='kasir' :
#         break
        
# print(kasir)

['tal.',
 'bendungan hilir raya tanah aban',
 'bon j532-415-o405x5y3 kasir = kartini']

In [25]:
tokens = [token for token in hasil if token not in kasir]
tokens

['', 'kopiko 78c coffe 1 5,900 5,900', '']

In [26]:
a = []
for i in (tokens):
    if re.findall(r'(\d+(?:\.\d{1,2})?)',i):
        a.append(i)
a

['kopiko 78c coffe 1 5,900 5,900']

In [27]:
a

['kopiko 78c coffe 1 5,900 5,900']

# dapet fitur jenis belanjaan nya naf

In [28]:
# for i in range(len(a)):
#     j = word_tokenize(a[i])+["\n"]
#     print(j)
#     for k in range(len(m[i])):
#         if m[i][k].isalnum():
#             print(m[i][k])
words = []            
for i in range(len(a)):
    j = word_tokenize(a[i])+["angka"]
    print(j)
    for k in range(len(j)):
        print(j[k])
        if j[k].isalnum():
            words.append(j[k])
words

['kopiko', '78c', 'coffe', '1', '5,900', '5,900', 'angka']
kopiko
78c
coffe
1
5,900
5,900
angka

['kopiko', '78c', 'coffe', '1', 'angka']

In [29]:
f = " ".join(words)
f.split("angka")

['kopiko 78c coffe 1 ', '']

# sampe sini, tinggal mikirin cara ambil harga per jenis

In [35]:
# angka = []            
# for i in range(len(a)):
#     j = word_tokenize(a[i])+[99999]
#     print(j)
#     for k in range(len(j)):
#         print(j[k])
#         if re.findall(r'(\d+(?:\.\d{1,2})?)',j[k]):
#             angka.append(j[k])
# angka
selain_words = []
for i in range(len(a)):
    j = word_tokenize(a[i])+["999,999"]
#     print(j)
    for k in range(len(j)):
#         print(j[k])
        if re.findall(r'([0-9]{1,3}(?=\,))',j[k]):
            selain_words.append(j[k])
selain_words

['5,900', '5,900', '999,999']

In [36]:
harga = " ".join(selain_words)
harga.split("999,999")

['5,900 5,900 ', '']

---

In [417]:
m = []
n= []
for i in range(len(a)):
    j = word_tokenize(a[i])
    m.append(j)
# print(j)
for k in range(len(m)):
# #     print (m[k], end="|")
#     st = list(str(m[k]).split("|"))
#     print( st)
    for j in range(len(m[k])):
        if (m[k][j]).isalnum():
            m[i][j]
            continue
print(m[i][j])
# for token in n:
#     if token.isalnum():
#         print(token, end=" ")
# tokens = [token for token in n if token.isalnum()]
# print("kata",tokens)
# n=[]

# for i in range(len(m)):
#     for j in range(len(m[i])):
#         print(m[j])
#         print(m[i][j])
# for k in m:
#     print(k)
#     if m[k].isalnum():
#         print(m)
#     re.findall(' [0-9]+', m[0])
#     for j in range(len(i)):
#         if j[i].isalnum():
#             m.append(j)
# numbers = re.findall(' [0-9]+', j)
# print(m)
# n

51,000

In [434]:
h=[]
for k in range(len(m)):
    for j in range(len(m[k])):
        if (m[k][j]).isalnum():
            h.append(m[k][j])
            h.append("a")
print(h)

TypeError: object of type 'int' has no len()

# sampe sini aja

In [125]:
new_words = word_tokenize(text)
print(word_tokenize(text))

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'benhil', '2', '/', '081510023453', 'jl', 'mh', 'thahrin', 'nos', 'cikokol', 'nphp', ':', '01.336', ',', '238', '.', '9-054', ',', '000', 'jl', '.', 'bendungan', 'hilir', 'raya', 'tanah', 'aban', 'bon', 'j532-415-o405x5y3', 'kasir', '=', 'kartini', 'kopiko', '78c', 'coffe', '1', '5,900', '5,900', 'total', 'iten', '|', '5,900', 'tunai', '5,900', 'kenbal', 'ian', '0', '536', ')', 'tal', '.', '04-05-2015', '14:28:32', 'v.24,03.2015', 'harga', 'bkp', 'sudah', 'termasuk', 'pajak', 'www', '.', 'alfaonl', 'ine', ',', 'com', 'kopiko', '78', 'degree', 'dapat', 'mcbil', 'sms', ':', 'kopiko', '?', '8', '(', 'spasi', ')', 'a|', 'fanartikadettktpttkot', 'kirim', 'ke', '0811', '870', '6789', 'no', '.', 'transaksi', 'j53241501', '0405x5y3']

In [46]:
tokenizer = nltk.RegexpTokenizer(r'\w+')
new_words = tokenizer.tokenize(text)
print(new_words)

['pt', 'sumber', 'alfaria', 'trijaya', 'tbk', 'cimuja', '4', 'jl', 'hh', 'thamrin', 'no', '9', 'cikokol', 'nphp', '01', '336', '238', '9', '054', '000', 'jl', 'raya', 'sumedang', 'cirebon', 'no', 'kec', 'cihal', 'bon', '8989', '205', '2107hkh3', 'kasir', 'alfa', 'air', 'hnrl', '1', '4', '3', '400', '13', '600', 'shapes', 'chzdbk', '18', '100', '8', '100', 'tsel', 'pulsa', '50k', '1', '51', '000', '51', '000', 'lotal', 'iten', '3', '72', '700', 'nai', '72', '700', 'erbal', 'ian', '0', 'pn', 'ukti', 'transaksi', 'voucher']

In [210]:
nyari_jenis=[]
for i in range(len(new_words)):
    nyari_jenis.append(new_words[i-1])
    if new_words[i]=='total':
#         nyari_total.append(new_words[i+1])
          break
jenis = nyari_jenis
print(jenis)

['voucher', 'pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'cimuja', '/', '4', 'jl', 'hh', 'thamrin', 'no', '9', 'cikokol', ':', 'nphp', '+', '01.336,238,9-054.000', 'jl', '.', 'raya', 'sumedang', 'cirebon', 'no', '.', 'kec', '.', 'cihal', 'bon', '8989-205-2107hkh3', 'kasir', 'alfa', 'air', 'hnrl', '1', '4', '3,400', '13,600', 'shapes', 'chzdbk', '=', '18,100', '8,100', 'tsel', 'pulsa', '50k', '1', '51,000', '51,000', 'lotal', 'iten', '3', '72,700', 'nai', '72,700', '(', 'erbal', 'ian', '0', 'pn', '(', 'ukti', 'transaksi']

In [128]:
nyari_jenisnharga=[]
for i in range(len(nyari_jenis)):
    nyari_jenisnharga.append(nyari_jenis[i])
    if nyari_jenis[i]=='kasir' :
        break
        
print(nyari_jenisnharga)

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'benhil', '2', '/', '081510023453', 'jl', 'mh', 'thahrin', 'nos', 'cikokol', 'nphp', ':', '01.336', ',', '238', '.', '9-054', ',', '000', 'jl', '.', 'bendungan', 'hilir', 'raya', 'tanah', 'aban', 'bon', 'j532-415-o405x5y3', 'kasir']

In [129]:
tokens = [token for token in nyari_jenis if token not in nyari_jenisnharga]
tokens

['=', 'kartini', 'kopiko', '78c', 'coffe', '1', '5,900', '5,900', 'total']

In [146]:
words = [token for token in tokens if  token not in a]
words = [token for token in words if token.isalnum()]
words

['kartini', 'kopiko', 'coffe', 'total']

In [133]:
a = []
for i in (tokens):
    if re.findall(r'(\d+(?:\.\d{1,2})?)',i):
        a.append(i)
a

['78c', '1', '5,900', '5,900']

In [155]:
sent_tokens[0:2]

['pt.',
 'sumber alfaria trijaya, tbk\ncimuja / 4\n\njl hh thamrin no 9 cikokol:\nnphp + 01.336,238,9-054.000\njl.']

In [156]:
" ".join(sent_tokens[0:2])

'pt. sumber alfaria trijaya, tbk\ncimuja / 4\n\njl hh thamrin no 9 cikokol:\nnphp + 01.336,238,9-054.000\njl.'

In [157]:
for i in " ".join(sent_tokens[0:2]).split('\n'):
    break
head=i
print(head)

pt. sumber alfaria trijaya, tbk

In [158]:
# price = re.findall(r'USD|EUR|€|\$)\s?(\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2}))|(\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2})?)\s?(USD|EUR|€|\$)',text)
# price = list(map(float,price))
# print(max(price))
# x=max(price)

In [162]:
new_words = word_tokenize(text)
print(word_tokenize(text))

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'cimuja', '/', '4', 'jl', 'hh', 'thamrin', 'no', '9', 'cikokol', ':', 'nphp', '+', '01.336,238,9-054.000', 'jl', '.', 'raya', 'sumedang', 'cirebon', 'no', '.', 'kec', '.', 'cihal', 'bon', '8989-205-2107hkh3', 'kasir', 'alfa', 'air', 'hnrl', '1', '4', '3,400', '13,600', 'shapes', 'chzdbk', '=', '18,100', '8,100', 'tsel', 'pulsa', '50k', '1', '51,000', '51,000', 'lotal', 'iten', '3', '72,700', 'nai', '72,700', '(', 'erbal', 'ian', '0', 'pn', '(', 'ukti', 'transaksi', 'voucher']

In [163]:
nyari_total=[]
for i in range(len(new_words)):
    if new_words[i]=='iten':
#         nyari_total.append(new_words[i+1])
          break
price=new_words[i+2]
print(price)
x=price
# " ".join(nyari_total)
# # price = re.findall(r'(?<![\d,])((\d{1,2},)*\d{3}|(\d{1,3}))\.\d{2}(?!\d)',nyari_total)
# # st= ''
# # st=st.join(price)
# # print(st)

72,700

In [161]:
# a = []
# for i in (nyari_total):
#     if re.findall(r'(\d+(?:\.\d{1,2})?)',i):
#         a.append(i)
# a

[]

In [66]:
# for i in (nyari_total):
#     print(i)

pembelian
diskon
1,018,000

In [49]:
# nyari_total

['pembelian', 'diskon', '1,018,000']

In [46]:
# tokenizer = nltk.RegexpTokenizer(r'\w+')
# new_words = tokenizer.tokenize(text)
# print(new_words)

['pt', 'sumber', 'alfaria', 'trijaya', 'tbk', 'cimuja', '4', 'jl', 'hh', 'thamrin', 'no', '9', 'cikokol', 'nphp', '01', '336', '238', '9', '054', '000', 'jl', 'raya', 'sumedang', 'cirebon', 'no', 'kec', 'cihal', 'bon', '8989', '205', '2107hkh3', 'kasir', 'alfa', 'air', 'hnrl', '1', '4', '3', '400', '13', '600', 'shapes', 'chzdbk', '18', '100', '8', '100', 'tsel', 'pulsa', '50k', '1', '51', '000', '51', '000', 'lotal', 'iten', '3', '72', '700', 'nai', '72', '700', 'erbal', 'ian', '0', 'pn', 'ukti', 'transaksi', 'voucher']

In [164]:
nyari_jenis=[]
for i in range(len(new_words)):
    nyari_jenis.append(new_words[i])
    if new_words[i]=='total':
#         nyari_total.append(new_words[i+1])
          break
jenis = nyari_jenis
print(jenis)

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'cimuja', '/', '4', 'jl', 'hh', 'thamrin', 'no', '9', 'cikokol', ':', 'nphp', '+', '01.336,238,9-054.000', 'jl', '.', 'raya', 'sumedang', 'cirebon', 'no', '.', 'kec', '.', 'cihal', 'bon', '8989-205-2107hkh3', 'kasir', 'alfa', 'air', 'hnrl', '1', '4', '3,400', '13,600', 'shapes', 'chzdbk', '=', '18,100', '8,100', 'tsel', 'pulsa', '50k', '1', '51,000', '51,000', 'lotal', 'iten', '3', '72,700', 'nai', '72,700', '(', 'erbal', 'ian', '0', 'pn', '(', 'ukti', 'transaksi', 'voucher']

In [165]:
nyari_jenisnharga=[]
for i in range(len(nyari_jenis)):
    nyari_jenisnharga.append(nyari_jenis[i])
    if nyari_jenis[i]=='kasir' :
        break
        
print(nyari_jenisnharga)

['pt', '.', 'sumber', 'alfaria', 'trijaya', ',', 'tbk', 'cimuja', '/', '4', 'jl', 'hh', 'thamrin', 'no', '9', 'cikokol', ':', 'nphp', '+', '01.336,238,9-054.000', 'jl', '.', 'raya', 'sumedang', 'cirebon', 'no', '.', 'kec', '.', 'cihal', 'bon', '8989-205-2107hkh3', 'kasir']

In [166]:
tokens = [token for token in nyari_jenis if token not in nyari_jenisnharga]
tokens

['alfa',
 'air',
 'hnrl',
 '1',
 '3,400',
 '13,600',
 'shapes',
 'chzdbk',
 '=',
 '18,100',
 '8,100',
 'tsel',
 'pulsa',
 '50k',
 '1',
 '51,000',
 '51,000',
 'lotal',
 'iten',
 '3',
 '72,700',
 'nai',
 '72,700',
 '(',
 'erbal',
 'ian',
 '0',
 'pn',
 '(',
 'ukti',
 'transaksi',
 'voucher']

In [168]:
words = [token for token in tokens if  token not in a]
words = [token for token in words if token.isalnum()]
words

['alfa',
 'air',
 'hnrl',
 'shapes',
 'chzdbk',
 'tsel',
 'pulsa',
 'lotal',
 'iten',
 'nai',
 'erbal',
 'ian',
 'pn',
 'ukti',
 'transaksi',
 'voucher']

In [167]:
a = []
for i in (tokens):
    if re.findall(r'(\d+(?:\.\d{1,2})?)',i):
        a.append(i)
a

['1',
 '3,400',
 '13,600',
 '18,100',
 '8,100',
 '50k',
 '1',
 '51,000',
 '51,000',
 '3',
 '72,700',
 '72,700',
 '0']